In [ ]:
!pip install git+https://github.com/RyanWangZf/transtab.git

Collecting git+https://github.com/RyanWangZf/transtab.git
  Cloning https://github.com/RyanWangZf/transtab.git to /tmp/pip-req-build-9y5iha8a
  Running command git clone --filter=blob:none --quiet https://github.com/RyanWangZf/transtab.git /tmp/pip-req-build-9y5iha8a
  Resolved https://github.com/RyanWangZf/transtab.git to commit fdb34cf38abda73ee6a741b802fe226cc89ba7b5
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from transtab==0.0.7) (1.26.4)
Requirement already satisfied: scikit_learn in /usr/local/lib/python3.11/dist-packages (from transtab==0.0.7) (1.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.11/dist-packages (from transtab==0.0.7) (75.2.0)
Collecting transformers<=4.30.0 (from transtab==0.0.7)
  Downloading transformers-4.30.0-py3-none-any.whl.metadata (113 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 113.6/113.6 kB 3.6 MB/s eta 0:00:00
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from transtab==0.0.7) (4.67.1)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.11/dist-packages (from transtab==0.0.7) (2.2.3)
Collecting openml>=0.10.0 (from transtab==0.0.7)
  Downloading openml-0.15.1-py3-none-any.whl.metadata (10 kB)
Collecting liac-arff>=2.4.0 (from openml>=0.10.0->transtab==0.0.7)
  Downloading liac-arff-2.5.0.tar.gz (13 kB)
  Preparing metadata (setup.py) ... done
Collecting xmltodict (from openml>=0.10.0->transtab==0.0.7)
  Downloading xmltodict-0.14.2-py2.py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from openml>=0.10.0->transtab==0.0.7) (2.32.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.11/dist-packages (from openml>=0.10.0->transtab==0.0.7) (2.9.0.post0)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.11/dist-packages (from openml>=0.10.0->transtab==0.0.7) (1.15.2)
Collecting minio (from openml>=0.10.0->transtab==0.0.7)
  Downloading minio-7.2.15-py3-none-any.whl.metadata (6.7 kB)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.11/dist-packages (from openml>=0.10.0->transtab==0.0.7) (19.0.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from openml>=0.10.0->transtab==0.0.7) (25.0)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.11/dist-packages (from numpy->transtab==0.0.7) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.11/dist-packages (from numpy->transtab==0.0.7) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.11/dist-packages (from numpy->transtab==0.0.7) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.11/dist-packages (from numpy->transtab==0.0.7) (2025.1.0)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.11/dist-packages (from numpy->transtab==0.0.7) (2022.1.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.11/dist-packages (from numpy->transtab==0.0.7) (2.4.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.3.0->transtab==0.0.7) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.3.0->transtab==0.0.7) (2025.2)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from scikit_learn->transtab==0.0.7) (1.5.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.11/dist-packages (from scikit_learn->transtab==0.0.7) (3.6.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from transformers<=4.30.0->transtab==0.0.7) (3.18.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.14.1 in /usr/local/lib/python3.11/dist-packages (from transformers<=4.30.0->transtab==0.0.7) (0.31.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.11/dist-packages (from transformers<=4.30.0->transtab==0.0.7) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.11/dist-packages (from transformers<=4.30.0->transtab==0.0.7) (2024.11.6)
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1 (from transformers<=4.30.0->transtab==0.0.7)
  Downloading tokenizers-0.13.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.7 kB)
Requirement already satisfied: safetensors>=0.3.1 in /usr/local/lib/python3.11/dist-packages (from transformers<=4.30.0->transtab==0.0.7) (0.5.3)
Requirement already satisfied: fsspec>=2023.5.0 in /usr/local/lib/python3.11/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers<=4.30.0->transtab==0.0.7) (2025.3.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.11/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers<=4.30.0->transtab==0.0.7) (4.13.2)
Requirement already satisfied: hf-xet<2.0.0,>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from huggingface-hub<1.0,>=0.14.1->transformers<=4.30.0->transtab==0.0.7) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil->openml>=0.10.0->transtab==0.0.7) (1.17.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.11/dist-packages (from minio->openml>=0.10.0->transtab==0.0.7) (2025.4.26)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.11/dist-packages (from minio->openml>=0.10.0->transtab==0.0.7) (2.4.0)
Requirement already satisfied: argon2-cffi in /usr/local/lib/python3.11/dist-packages (from minio->openml>=0.10.0->transtab==0.0.7) (23.1.0)
Requirement already satisfied: pycryptodome in /usr/local/lib/python3.11/dist-packages (from minio->openml>=0.10.0->transtab==0.0.7) (3.22.0)
Requirement already satisfied: intel-openmp<2026,>=2024 in /usr/local/lib/python3.11/dist-packages (from mkl->numpy->transtab==0.0.7) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.11/dist-packages (from mkl->numpy->transtab==0.0.7) (2022.1.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.11/dist-packages (from tbb==2022.*->mkl->numpy->transtab==0.0.7) (1.3.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.11/dist-packages (from mkl_umath->numpy->transtab==0.0.7) (2024.2.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->openml>=0.10.0->transtab==0.0.7) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->openml>=0.10.0->transtab==0.0.7) (3.10)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.11/dist-packages (from intel-openmp<2026,>=2024->mkl->numpy->transtab==0.0.7) (2024.2.0)
Requirement already satisfied: argon2-cffi-bindings in /usr/local/lib/python3.11/dist-packages (from argon2-cffi->minio->openml>=0.10.0->transtab==0.0.7) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from argon2-cffi-bindings->argon2-cffi->minio->openml>=0.10.0->transtab==0.0.7) (1.17.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.11/dist-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->minio->openml>=0.10.0->transtab==0.0.7) (2.22)
Downloading openml-0.15.1-py3-none-any.whl (160 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 160.4/160.4 kB 7.6 MB/s eta 0:00:00
Downloading transformers-4.30.0-py3-none-any.whl (7.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.2/7.2 MB 75.2 MB/s eta 0:00:00:00:010:01
Downloading tokenizers-0.13.3-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (7.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 104.8 MB/s eta 0:00:0000:0100:01
Downloading minio-7.2.15-py3-none-any.whl (95 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 7.9 MB/s eta 0:00:00
Downloading xmltodict-0.14.2-py2.py3-none-any.whl (10.0 kB)
Building wheels for collected packages: transtab, liac-arff
  Building wheel for transtab (setup.py) ... done
  Created wheel for transtab: filename=transtab-0.0.7-py3-none-any.whl size=29809 sha256=cbfc1a20fecfe37313bbc682c7624f3919b0b96586716fcaeafd2d1df303a947
  Stored in directory: /tmp/pip-ephem-wheel-cache-30k8ile1/wheels/f4/19/71/b61b22a69ba3287d602aa346955d4b3cebfe20dafed97a43a4
  Building wheel for liac-arff (setup.py) ... done
  Created wheel for liac-arff: filename=liac_arff-2.5.0-py3-none-any.whl size=11717 sha256=e08d26f0c0fc6357095910580f5490006234c370769c37513b0a7646c7e85569
  Stored in directory: /root/.cache/pip/wheels/00/23/31/5e562fce1f95aabe57f2a7320d07433ba1cd152bcde2f6a002
Successfully built transtab liac-arff
Installing collected packages: tokenizers, xmltodict, liac-arff, minio, transformers, openml, transtab
  Attempting uninstall: tokenizers
    Found existing installation: tokenizers 0.21.1
    Uninstalling tokenizers-0.21.1:
      Successfully uninstalled tokenizers-0.21.1
  Attempting uninstall: transformers
    Found existing installation: transformers 4.51.3
    Uninstalling transformers-4.51.3:
      Successfully uninstalled transformers-4.51.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
kaggle-environments 1.16.11 requires transformers>=4.33.1, but you have transformers 4.30.0 which is incompatible.
sentence-transformers 3.4.1 requires transformers<5.0.0,>=4.41.0, but you have transformers 4.30.0 which is incompatible.
Successfully installed liac-arff-2.5.0 minio-7.2.15 openml-0.15.1 tokenizers-0.13.3 transformers-4.30.0 transtab-0.0.7 xmltodict-0.14.2

In [ ]:
import transtab

2025-06-06 18:12:42.644439: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1749233562.830509      35 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1749233562.885682      35 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered

In [ ]:
dataset = '/kaggle/input/playground-series-s5e6'

In [ ]:
import pandas

In [ ]:
df = pandas.read_csv(f'{dataset}/train.csv').drop(columns='id').rename(columns={
    'Temparature': 'Temperature',
    'Fertilizer Name': 'target_label'
})
df

,Temperature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,target_label
0,37,70,36,Clayey,Sugarcane,36,4,5,28-28
1,27,69,65,Sandy,Millets,30,6,18,28-28
2,29,63,32,Sandy,Millets,24,12,16,17-17-17
3,35,62,54,Sandy,Barley,39,12,4,10-26-26
4,35,58,43,Red,Paddy,37,2,16,DAP
...,...,...,...,...,...,...,...,...,...
749995,25,69,30,Clayey,Maize,8,16,6,28-28
749996,37,64,58,Loamy,Sugarcane,38,8,20,17-17-17
749997,35,68,59,Sandy,Ground Nuts,6,11,29,10-26-26
749998,31,68,29,Red,Cotton,9,11,12,20-20
749999,33,55,29,Loamy,Cotton,4,10,9,Urea

In [ ]:
df['target_label'] = df['target_label'].apply(lambda x: {
    '28-28': 0,
    '17-17-17': 1,
    '10-26-26': 2,
    'DAP': 3,
    '20-20': 4,
    '14-35-14': 5,
    'Urea': 6
}[x])

In [ ]:
numerical_features = ['Temperature', 'Humidity', 'Moisture', 'Nitrogen', 'Potassium', 'Phosphorous']

In [ ]:
!mkdir dataset

In [ ]:
with open('dataset/numerical_feature.txt', 'w') as file:
    file.write('\n'.join(numerical_features))

In [ ]:
!cat dataset/numerical_feature.txt

Temperature
Humidity
Moisture
Nitrogen
Potassium
Phosphorous

In [ ]:
df.to_csv('dataset/data_processed.csv')

In [ ]:
transtab.random_seed(42)

In [ ]:
allset, trainset, valset, testset, cat_cols, num_cols, bin_cols = transtab.load_data('dataset')

########################################
load from local data dir dataset

/usr/local/lib/python3.11/dist-packages/transtab/dataset.py:196: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for col in num_cols: X[col].fillna(X[col].mode()[0], inplace=True)
/usr/local/lib/python3.11/dist-packages/transtab/dataset.py:196: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for col in num_cols: X[col].fillna(X[col].mode()[0], inplace=True)
/usr/local/lib/python3.11/dist-packages/transtab/dataset.py:196: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for col in num_cols: X[col].fillna(X[col].mode()[0], inplace=True)
/usr/local/lib/python3.11/dist-packages/transtab/dataset.py:196: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for col in num_cols: X[col].fillna(X[col].mode()[0], inplace=True)
/usr/local/lib/python3.11/dist-packages/transtab/dataset.py:196: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for col in num_cols: X[col].fillna(X[col].mode()[0], inplace=True)
/usr/local/lib/python3.11/dist-packages/transtab/dataset.py:196: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for col in num_cols: X[col].fillna(X[col].mode()[0], inplace=True)
/usr/local/lib/python3.11/dist-packages/transtab/dataset.py:200: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  for col in cat_cols: X[col].fillna(X[col].mode()[0], inplace=True)

# data: 750000, # feat: 8, # cate: 2,  # bin: 0, # numerical: 6, pos rate: 0.15

In [ ]:
allset

(        temperature  humidity  moisture  nitrogen  potassium  phosphorous  \
 0          0.923077  0.909091     0.275  0.842105   0.210526     0.119048
 1          0.153846  0.863636     1.000  0.684211   0.315789     0.428571
 2          0.307692  0.590909     0.175  0.526316   0.631579     0.380952
 3          0.769231  0.545455     0.725  0.921053   0.631579     0.095238
 4          0.769231  0.363636     0.450  0.868421   0.105263     0.380952
 ...             ...       ...       ...       ...        ...          ...
 749995     0.000000  0.863636     0.125  0.105263   0.842105     0.142857
 749996     0.923077  0.636364     0.825  0.894737   0.421053     0.476190
 749997     0.769231  0.818182     0.850  0.052632   0.578947     0.690476
 749998     0.461538  0.818182     0.100  0.131579   0.578947     0.285714
 749999     0.615385  0.227273     0.100  0.000000   0.526316     0.214286

        soil type    crop type
 0         Clayey    Sugarcane
 1          Sandy      Millets
 2          Sandy      Millets
 3          Sandy       Barley
 4            Red        Paddy
 ...          ...          ...
 749995    Clayey        Maize
 749996     Loamy    Sugarcane
 749997     Sandy  Ground Nuts
 749998       Red       Cotton
 749999     Loamy       Cotton

 [750000 rows x 8 columns],
 0         0
 1         0
 2         1
 3         2
 4         3
          ..
 749995    0
 749996    1
 749997    2
 749998    4
 749999    6
 Name: target_label, Length: 750000, dtype: int64)

In [ ]:
trainset

(        temperature  humidity  moisture  nitrogen  potassium  phosphorous  \
 232315     0.923077  0.000000     0.075  0.500000   0.789474     0.166667
 615203     0.692308  0.318182     0.350  0.631579   0.842105     1.000000
 496201     0.538462  0.818182     0.675  0.789474   0.000000     0.095238
 153284     1.000000  0.272727     0.500  0.973684   0.105263     0.976190
 454722     0.153846  1.000000     0.325  0.184211   0.578947     0.380952
 ...             ...       ...       ...       ...        ...          ...
 517357     0.461538  0.500000     1.000  0.763158   0.105263     0.523810
 359417     0.846154  0.545455     0.275  0.447368   0.578947     0.476190
 701170     0.000000  0.136364     0.600  0.973684   0.000000     0.071429
 245639     0.076923  0.090909     0.175  0.921053   0.578947     0.500000
 654656     0.846154  0.090909     0.950  0.684211   0.368421     0.380952

        soil type    crop type
 232315     Sandy        Paddy
 615203     Sandy        Paddy
 496201     Sandy       Cotton
 153284     Black      Millets
 454722     Loamy  Ground Nuts
 ...          ...          ...
 517357     Black    Sugarcane
 359417    Clayey        Paddy
 701170     Loamy        Maize
 245639     Loamy    Sugarcane
 654656       Red  Ground Nuts

 [525000 rows x 8 columns],
 232315    3
 615203    5
 496201    1
 153284    4
 454722    4
          ..
 517357    5
 359417    6
 701170    2
 245639    5
 654656    6
 Name: target_label, Length: 525000, dtype: int64)

In [ ]:
valset

(        temperature  humidity  moisture  nitrogen  potassium  phosphorous  \
 649954     0.230769  0.181818     0.350  0.078947   0.000000     0.357143
 652761     0.846154  0.636364     0.975  0.947368   1.000000     0.595238
 36486      0.615385  0.590909     0.050  0.263158   0.684211     0.928571
 245041     0.307692  0.909091     0.750  0.736842   0.368421     0.976190
 683982     0.384615  0.000000     0.225  0.105263   0.157895     0.333333
 ...             ...       ...       ...       ...        ...          ...
 463704     0.461538  0.818182     0.025  0.842105   0.421053     0.714286
 161514     0.076923  1.000000     0.575  0.000000   0.263158     0.380952
 615908     0.000000  0.636364     0.500  0.342105   0.789474     0.404762
 570013     0.076923  0.318182     0.325  0.421053   0.368421     0.095238
 452317     0.076923  0.636364     0.850  0.973684   0.315789     0.476190

        soil type  crop type
 649954     Black      Paddy
 652761     Sandy      Paddy
 36486      Sandy     Pulses
 245041       Red      Wheat
 683982       Red  Sugarcane
 ...          ...        ...
 463704       Red     Cotton
 161514       Red     Barley
 615908    Clayey     Barley
 570013     Black      Paddy
 452317    Clayey     Barley

 [75000 rows x 8 columns],
 649954    3
 652761    4
 36486     2
 245041    4
 683982    5
          ..
 463704    0
 161514    2
 615908    6
 570013    6
 452317    4
 Name: target_label, Length: 75000, dtype: int64)

In [ ]:
testset

(        temperature  humidity  moisture  nitrogen  potassium  phosphorous  \
 55986      0.307692  0.727273     0.650  0.578947   0.421053     0.547619
 119937     0.000000  0.090909     0.450  0.631579   0.631579     0.666667
 673769     0.461538  1.000000     0.200  0.684211   0.421053     0.476190
 6325       0.692308  0.090909     1.000  0.236842   0.473684     0.690476
 483018     0.692308  0.181818     0.625  0.289474   0.736842     0.928571
 ...             ...       ...       ...       ...        ...          ...
 370547     0.307692  0.954545     0.925  0.631579   0.315789     0.190476
 277877     0.923077  0.500000     0.675  0.026316   0.000000     0.476190
 304055     0.538462  0.818182     0.375  0.842105   0.263158     0.404762
 701494     0.923077  0.000000     0.600  0.552632   0.105263     0.738095
 88031      0.000000  0.681818     0.025  0.500000   0.263158     0.738095

        soil type    crop type
 55986      Loamy       Pulses
 119937     Black       Cotton
 673769     Black        Maize
 6325         Red        Maize
 483018     Sandy        Wheat
 ...          ...          ...
 370547    Clayey        Paddy
 277877     Black       Cotton
 304055       Red      Millets
 701494     Loamy      Millets
 88031        Red  Ground Nuts

 [150000 rows x 8 columns],
 55986     5
 119937    5
 673769    1
 6325      2
 483018    3
          ..
 370547    5
 277877    3
 304055    1
 701494    5
 88031     1
 Name: target_label, Length: 150000, dtype: int64)

In [ ]:
cat_cols

['soil type', 'crop type']

In [ ]:
num_cols

['temperature', 'humidity', 'moisture', 'nitrogen', 'potassium', 'phosphorous']

In [ ]:
bin_cols

[]

原始程式對整筆資料 fit 正規化（不是只 fit 訓練集），但整筆資料的最大最小值，跟訓練集的最大最小值好像一樣？

In [ ]:
display(df.describe().T)
display(df.iloc[trainset[0].index].describe().T)

                 count       mean        std   min   25%   50%   75%   max
Temperature   750000.0  31.503565   4.025574  25.0  28.0  32.0  35.0  38.0
Humidity      750000.0  61.038912   6.647695  50.0  55.0  61.0  67.0  72.0
Moisture      750000.0  45.184147  11.794594  25.0  35.0  45.0  55.0  65.0
Nitrogen      750000.0  23.093808  11.216125   4.0  13.0  23.0  33.0  42.0
Potassium     750000.0   9.478296   5.765622   0.0   4.0   9.0  14.0  19.0
Phosphorous   750000.0  21.073227  12.346831   0.0  10.0  21.0  32.0  42.0
target_label  750000.0   2.925927   1.986453   0.0   1.0   3.0   5.0   6.0

                 count       mean        std   min   25%   50%   75%   max
Temperature   525000.0  31.507699   4.023489  25.0  28.0  32.0  35.0  38.0
Humidity      525000.0  61.039910   6.649110  50.0  55.0  61.0  67.0  72.0
Moisture      525000.0  45.192082  11.789551  25.0  35.0  45.0  55.0  65.0
Nitrogen      525000.0  23.085533  11.218295   4.0  13.0  23.0  33.0  42.0
Potassium     525000.0   9.484771   5.766820   0.0   4.0   9.0  14.0  19.0
Phosphorous   525000.0  21.064789  12.346524   0.0  10.0  21.0  32.0  42.0
target_label  525000.0   2.924463   1.986088   0.0   1.0   3.0   5.0   6.0

In [ ]:
model = transtab.build_classifier(cat_cols, num_cols, bin_cols, num_class=7)

/usr/local/lib/python3.11/dist-packages/torch/nn/modules/transformer.py:385: UserWarning: enable_nested_tensor is True, but self.use_nested_tensor is False because encoder_layer was not TransformerEncoderLayer
  warnings.warn(

In [ ]:
training_arguments = {
    'num_epoch': 5,
    'batch_size': 128,
    'lr': 1e-4,
    'eval_metric': 'val_loss',
    'eval_less_is_better': True,
    'output_dir': 'checkpoint'
}

In [ ]:
transtab.train(model, trainset, valset, **training_arguments)

Epoch:   0%|          | 0/5 [00:00<?, ?it/s]

epoch: 0, test val_loss: 1.941690
epoch: 0, train loss: 7970.4616, lr: 0.000100, spent: 166.1 secs
epoch: 1, test val_loss: 1.940066
epoch: 1, train loss: 7963.2048, lr: 0.000100, spent: 332.5 secs
epoch: 2, test val_loss: 1.940549
EarlyStopping counter: 1 out of 5
epoch: 2, train loss: 7960.1181, lr: 0.000100, spent: 498.9 secs
epoch: 3, test val_loss: 1.940235
EarlyStopping counter: 2 out of 5
epoch: 3, train loss: 7958.2939, lr: 0.000100, spent: 665.9 secs
epoch: 4, test val_loss: 1.939438
epoch: 4, train loss: 7956.4893, lr: 0.000100, spent: 834.5 secs

In [ ]:
x_test, y_test = testset
ypred = transtab.predict(model, x_test)

In [ ]:
ypred

array([[0.13425356, 0.1802547 , 0.13932763, ..., 0.16447428, 0.1912974 ,
        0.10329986],
       [0.13868578, 0.15089263, 0.14666754, ..., 0.14846067, 0.1484395 ,
        0.12862648],
       [0.1461783 , 0.13770485, 0.1477238 , ..., 0.14621718, 0.15253861,
        0.13506508],
       ...,
       [0.14488734, 0.14354198, 0.12959526, ..., 0.15110849, 0.15568137,
        0.14893013],
       [0.14953233, 0.14832339, 0.14204223, ..., 0.15384017, 0.16778877,
        0.12410065],
       [0.15019995, 0.16445346, 0.14682887, ..., 0.15015455, 0.1577946 ,
        0.11673623]], dtype=float32)

In [ ]:
ypred.argmax(1)

array([5, 1, 5, ..., 5, 5, 1])

In [ ]:
transtab.evaluate(ypred, y_test, metric='acc')

[0.16038666666666668]

In [1]:
from huggingface_hub import snapshot_download

snapshot_download(
    repo_id="openai/clip-vit-base-patch32",
    local_dir="./clip-vit-base-patch32",
    local_dir_use_symlinks=False
)

/home/evan/miniconda3/envs/Transtab/lib/python3.12/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
/home/evan/miniconda3/envs/Transtab/lib/python3.12/site-packages/huggingface_hub/file_download.py:980: UserWarning: `local_dir_use_symlinks` parameter is deprecated and will be ignored. The process to download files to a local folder has been updated and do not rely on symlinks anymore. You only need to pass a destination folder as`local_dir`.
For more details, check out https://huggingface.co/docs/huggingface_hub/main/en/guides/download#download-files-to-local-folder.
  warnings.warn(
Fetching 12 files: 100%|██████████| 12/12 [00:15<00:00,  1.33s/it]

'/mnt/HDD5/evan/GF/Data_mining/FinalProject/clip-vit-base-patch32'